<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://cdn.boxicons.com/fonts/basic/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
   <link rel="icon" href="/assets/favicon.ico" type="image/x-icon">
    <title>Shortify</title>
    <link rel="stylesheet" href="/css/confirm.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="container">
        <header>
            <div class="logo">Shortify</div>
            <button id="theme-toggle" class="theme-toggle"><i class='bxr bx-moon'></i> </button>
        </header>

        <main>
            <h1>Welcome to Shortify</h1>
            <p>A simple tool to shorten your long URLs</p>

            <div class="auth-options">
                <a href="/login" class="btn">Login</a>
                <a href="/register" class="btn">Register</a>
            </div>
        </main>
    </div>

    <script src="/js/utils.js" type="module"></script>
    <script src="/js/auth.js" type="module"></script>
</body>

</html>